
/*------------------------NAVBAR---------------------------------*/
/* Undoing bootstrap default to allow disaster/multisites links to be floated
   * right. */
/** Most of the next few following rules are undoing Bootstrap's nightmare. */
/* Undoing Bootstrap's horrible defaults. */

.navbar-wrapper {
  background-color: black;
  box-shadow: 0 2px 26px 0 rgba(0, 0, 0, 0.2);
}
.navbar {
  border-radius: 0;
  border: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  .navbar-brand {
    text-transform: uppercase;
    img {
      max-height: 34px;
    }
  }
  .navbar-nav {
    .nav-link {
      color: white;
      padding-top: 18px;
      padding-bottom: 18px;
      &:focus, &:active, &:hover, &.active {
        color: white;
        border-bottom: 5px solid $brand-secondary;
        padding-bottom: 13px;
      }
    }
  }
  #site-tiers {
    .badge {
      line-height: 1.5em;
    }
  }
  .dropdown-menu {
    border: 0;
    box-shadow: 0px 5px 15px -10px rgba(0,0,0,.5);
    margin-top: 0;
    border-radius: 0;
    width: 100%;
    padding: 0;
    ul, li {
      padding: 0;
    }
    a {
      color: black;
      font-weight: bold;
      display: inline-block;
      padding: 10px 15px;
      &:hover, &:active, &.active {
        background-color: transparent;
        border-left: 3px solid $brand-secondary;
        padding-left: 12px;
      }
    }
  }
  .dropdown-submenu {
    background-color: $gray-lighter;
    .dropdown-submenu-header {
      text-transform: uppercase;
    }
  }
}
